/* CSS file */
Application {
	background-gradient-colors: #EFEFEF, #DFDFDF;
}

ApplicationControlBar {
	shadow-distance: 2px;
}

Panel {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	corner-radius: 0px;
	
	borderColor: #CCCCCC;
   	borderThicknessLeft: 0;
   	borderThicknessTop: 0;
   	borderThicknessBottom: 0;
   	borderThicknessRight: 0;
   	shadowDistance: 3;
   	titleStyleName: "mypanelTitle";
}

.mypanelTitle {
   color: #000000;
   textAlign: left;
   font-weight: bold;
}