/* br/com/optimedia/interactive/css/style.css */
Application {
    theme-color: #9DBAEB;
}
.titleTITLE {
	font-size: 32px;
	font-family: Arial, Helvetica, sans-serif;
	fontWeight: bold;
	color: #333;
	text-align: center;
}
.titleTYPEPAGE {
   font-size:28px;
	font-family:Arial, Helvetica, sans-serif;
	fontWeight: bold;
	color: #333;	
	text-align: center;
}
.contentTITLE {
	font-size: 28px;
	font-family: Arial, Helvetica, sans-serif;
	fontWeight: bold;
	color: #333;
	text-align: center;
}
.contentTYPEPAGE {
   font-size:22px;
	font-family:Arial, Helvetica, sans-serif;
	fontWeight: bold;
	color: #333;	
}
.display {
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	fontWeight: bold;
	color: #333;	
}